<!--
Programmer: Victoria Albanese
Adapted by: Brian Flynn
Filename: wrist_camera.launch

Purpose: Launch the "wrist" Intel RealSense 435i camera
on the rigging so that its pointcloud can be visualized
-->

<launch>

  <!-- This launches the camera with the correct parameters -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="wrist_camera" />
    <!-- <arg name="serial_no" value="843112074077" />  -->
  </include>

  <group ns="/pcl_filters">
    <!-- PCL Manager -->
    <node pkg="nodelet" type="nodelet" name="box_filter_pcl_manager" args="manager" output="screen"/>

    <!-- Run a passthrough filter to delimit in x direction -->
    <node pkg="nodelet" type="nodelet" name="wrist_camera_x_filter" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
      <remap from="~input" to="/wrist_camera/depth_registered/points" />
      <rosparam>
        filter_field_name: x
        filter_limit_min: -1.0
        filter_limit_max: 1.0
      </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in y direction -->
    <node pkg="nodelet" type="nodelet" name="wrist_camera_xy_filter" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
      <remap from="~input" to="wrist_camera_x_filter/output" />
      <rosparam>
        filter_field_name: y
        filter_limit_min: -1.0
        filter_limit_max: 1.0
      </rosparam>
    </node>

    <!-- Run a passthrough filter to delimit in z direction -->
    <node pkg="nodelet" type="nodelet" name="wrist_camera_xyz_filter" args="load pcl/PassThrough box_filter_pcl_manager" output="screen">
      <remap from="~input" to="wrist_camera_xy_filter/output" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: -0.25
        filter_limit_max: 0.5
      </rosparam>
    </node>
  </group>

  <!-- This transforms each resulting pointcloud into a global reference frame -->
  <node name="wrist_camera_tf0" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_color_optical_frame 100" />
  <node name="wrist_camera_tf1" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_depth_frame 100" />
  <node name="wrist_camera_tf2" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_link 100" />
  <node name="wrist_camera_tf3" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_depth_optical_frame 100" />
  <node name="wrist_camera_tf4" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_color_frame 100" />
  <node name="wrist_camera_tf5" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_aligned_depth_to_color_frame 100" />
  <node name="wrist_camera_tf6" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_infra1_frame 100" />
  <node name="wrist_camera_tf7" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_infra1_optical_frame 100" />
  <node name="wrist_camera_tf8" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_aligned_depth_to_infra1_frame 100" />
  <node name="wrist_camera_tf9" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_infra2_frame 100" />
  <node name="wrist_camera_tf10" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_infra2_optical_frame 100" />
  <node name="wrist_camera_tf11" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_gyro_frame 100" />
  <node name="wrist_camera_tf12" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_gyro_optical_frame 100" />
  <node name="wrist_camera_tf13" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_accel_frame 100" />
  <node name="wrist_camera_tf14" pkg="tf" type="static_transform_publisher"
    args="-0.0325 0.025 0.0 0.0075 0 -1.5707 /realsense_camera_link /wrist_camera_accel_optical_frame 100" />

</launch>

