<launch>


  <!-- use argument ip:=<your.robot.ip.address> when lauching this file -->
  <!-- on robot pendant, press top right menu button (three horizontal lines), click "About" and IP address will be displayed -->
  <arg name="sim" default="false" />
  <arg name="ip" unless="$(arg sim)"/>

  <group unless="$(arg sim)" >
    <!-- Launch UR5e hardware bringup nodes and configuration parameters (**need universal_robot package for these files!!**) -->
    <!-- ** https://github.com/ros-industrial/universal_robot ** -->
    <!-- currently, joints should be limited -->
    <include file="$(find ur_modern_driver)/launch/ur5e_bringup.launch">
      <arg name="limited" value="false"/>
      <arg name="robot_ip" value="$(arg ip)"/> 
    </include>
    
    <!-- Launch UR5e hardware planning execution and configuration parameters -->
    <include file="$(find brendan_ur5e_gripper_moveit_generated)/launch/move_group.launch"/>
  </group>

  <!-- Will launch simulated robot instead of actual if arg "sim" is input -->
  <include file="$(find brendan_ur5e_gripper_moveit_generated)/launch/demo.launch" if="$(arg sim)" />


  <!-- Launch Moveit! and Rviz files (rviz config file <your_configuration>.rviz can be chosen here) -->
  <!-- Uses custom Moveit! package kinematics.yaml file for function -->
  <include file="$(find brendan_ur5e_gripper_moveit_generated)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <!-- EXAMPLE NODE LAUNCHING -->
  <!-- Run node to place collision objects (the table + pedestal) from ur5e_workstation package (robot name is 'manipulator' as defined in custom Moveit! package: ur5e_joint_limited_robotiq_2f_85_moveit_config) -->
  <!-- <node name="build_workstation" pkg="ur5e_workstation" type="build_workstation"/> -->


</launch>
